<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Chat</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <h1 id = "head">Mini Whatsapp</h1>
    <h3>Write Your New Chat Here :</h3>
    <form method="POST" action="/chats">
        <input type="text" name="from" placeholder="Enter Your Name">
        <br>
        <br>
        <input type="text" name="to" placeholder="Reciever Name">
        <br>
        <br>
        <textarea name="msg" placeholder="Write Your Message Here...."></textarea>
        <br>
        <br>
        <button>Create Chat</button>
    </form>
</body>
</html>